*{margin:0;padding:0;box-sizing:border-box}body{margin:0;background:#000;overflow:hidden;font-family:Noto Sans TC,Noto Sans JP,sans-serif;font-size:18px}@keyframes blink{0%,to{opacity:1}50%{opacity:0}}
